<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Which Flag</title>
</head>
<body>
    <h1>Welcome To Which Flag Game!</h1>
    <h2>Which country does this flag belong to?</h2>
    <img src="../images/<%=country%>.png" alt="img">
    <form action="/submit" method="post">
        <input type="text" name="answer" placeholder="Write your answer here!" autocomplete="off">
        <button>Submit</button>
    </form>
</body>
</html>