<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Which Flag</title>
</head>
<body>
    <div class="main">
        <h1>Welcome To Which Flag Game!</h1>
        <h2>Which country does this flag belong to?</h2>
        <img src="../images/<%=country%>.png" alt="img">
        <form action="/submit" method="post">
            <input type="text" name="answer" placeholder="Write your answer here!" autocomplete="off" autofocus>
            <button class="">Submit</button>
        </form>
        <p>Streak🔥: <%=totalCorrect%></p>
    </div>
</body>
</html>